.information_container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    background-color: var(--white);
    align-items: center;
    justify-content: center;
    padding: 6rem 0;
    text-align: center;
}

.information_container h2 {
    padding-bottom: 2rem;
    color: var(--black);
    font-style: italic;
}

.cards_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 4rem;
}

.cards {
    padding: 2rem;
    border: 6px solid var(--gold_2);
    border-bottom: 6px solid var(--gold);
    border-left: 6px solid var(--gold);
    height: auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 12px 2px rgba(0, 0, 0, 0.178);
}

.cards h4 {
    padding: 1rem;
}

.cards p {
    width: 90%;
    text-align: center;
}

.cards svg {
    height: 4rem;
    width: 4rem;
    background-color: var(--gold_2);
    color: var(--black);
    padding: .8rem;
    border-radius: 50%;
    box-shadow: 1px 2px 12px 2px rgba(0, 0, 0, 0.082);
}

.mass_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    text-align: center;
}

.mass_text {
    padding-top: 1.2rem;
    display: flex;
    font-size: 18px;
}

.mass_text > div:first-child {
    border-right: 1px solid var(--black); 
    padding-right: 1rem; 
    margin-right: 1rem; 
}


@media screen and (max-width: 900px){
    .cards_container {
        display: flex;
        flex-direction: column;
    }

    .cards {
        width: 300px;
        flex-direction: column;
    }

    .cards h4 {
        font-size: 16px;
    }

    .cards p {
        font-size: 14px;
    }
}