.information_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    background-color: var(--gold_2);
}

.information_text {
    padding-top: 2rem;
    display: flex;
    position: relative;
    font-size: 18px;
}

.information_text > div:first-child {
    border-right: 1px solid var(--black); 
    padding-right: 1rem; 
    margin-right: 1rem; 
}