.swiper {
    height: 60vh;
    width: 100%;
}

.swiper img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.swiper-button-prev, .swiper-button-next {
    color: var(--gold) !important;
}

.swiper-pagination-bullet-active {
    background: var(--gold) !important;
}