.history_container {
    background-color: var(--black);
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.history_year {
    display: flex;
    align-items: end;
    opacity: .8;
}

.history_year h2 {
    font-size: 92px;
    color: var(--gold_2);
    font-family: "Dancing Script", cursive;
}

.history_year h3 {
    font-size: 52px;
    color: var(--white);
    padding: 1rem 0;
    font-family: "Great Vibes", cursive;
}

.history_text {
    padding: 4rem 2rem;
    width: 30%;
}

.history_text h4 {
    font-style: italic;
    font-size: 22px;
    color: var(--gold);
}

.history_text p {
    color: var(--white);
    padding: 2rem 0;
}

.history_btn {
    font-size: 20px;
    font-weight: 400;
    color: var(--black);
    background-color: var(--gold_2);
    border: none;
    border-radius: 0;
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.116);
    transition: .2s ease;
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
}

.history_btn:hover {
    background-color: #c79500;
    color: var(--black);
}

.history_image {
    width: 50%;
    mask-image: linear-gradient(to left,#000, rgba(0,0,0,0));
    -webkit-mask-image: linear-gradient(to left, #000, rgba(0,0,0,0));
    opacity: .7;
}

.history_image img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

@media screen and (max-width:900px) {

    .history_container {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .history_text {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1rem 1rem;
        text-align: center;
        align-items: center;
    }
    
    .history_text h4 {
        font-size: 18px;
    }
    
    .history_text p {
        color: var(--white);
        padding: 1rem 0;
        font-size: 14px;
        text-align: left;
    }
    
    .history_btn {
        gap: 1.4rem;
        font-size: 16px;
        text-align: left;
    }

    .history_btn svg {
        font-size: 24px;
    }
    
    .history_image {
        width: 100%;
        mask-image: linear-gradient(to bottom,#000, rgba(0,0,0,0));
        -webkit-mask-image: linear-gradient(to bottom, #000, rgba(0,0,0,0));
        opacity: .7;
    }
    
    .history_image img {
        width: 100%;
        height: 20vh;
        object-fit: cover;
    }

    .history_year {
        align-items: start;
    }
    
    .history_year h2 {
        font-size: 42px;
    }
    
    .history_year h3 {
        font-size: 22px;
    }
}