.marriage-container {
    background-image: linear-gradient(var(--gold), var(--gold_2));
    display: flex;
    flex-direction: row;
    align-items: center;
}

.marriage-image img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    -webkit-mask-image: linear-gradient(to left, #000 50%, rgba(0,0,0,0));
    mask-image: linear-gradient(to left, #000000 50%, rgba(0,0,0,0));
    opacity: .9;
}

.marriage-image {
    width: 60%;
}

.marriage-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: end;
    color: var(--black);
}

.marriage-button {
    color: var(--black);
    border-color: var(--black);
    background: none;
    width: 240px;
    height: 70px;
    font-weight: 600;
    transition: .2s ease;
}

.marriage-button:hover {
    color: var(--black);
    background-color: rgba(255, 255, 255, 0.418);
    border-color: var(--black);
}

/* responsive */

@media screen and (max-width: 900px) {

    .marriage-container {
        flex-direction: column-reverse;
    }

    .marriage-image img {
        height: 200px;
        -webkit-mask-image: linear-gradient(to bottom, #000 50%, rgba(0,0,0,0));
        mask-image: linear-gradient(to bottom, #000000 50%, rgba(0,0,0,0));
    }

    .marriage-image {
        width: 100%;
        height: 40%;
    }

    .marriage-text {
       align-items: center;
       width: 100%;
       padding: 2rem;
    }

    .marriage-button {
        font-size: 16px;
        height: 50px;
        width: 160px;
    }
}
