.marriage-container {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 5rem;
}

.marriage-container_text {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 4rem;
}

.marriage-container_title {   
    width: 40%;
}

.marriage-container_title h1 {
    width: 70%;
    color: var(--black);
}

.marriage-container_title p {
    color: var(--black);
    width: 70%;
}

/* button */

.marriage_button {
    font-size: 32px;
    font-weight: 300;
    color: var(--black);
    background-color: var(--gold);
    border: none;
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.116);
    transition: .2s ease;
}

.marriage_button:hover {
    background-color: var(--gold_2);
    color: var(--black);
}

/* slider */

.marriage-slider {
    width: 80% !important;
    object-fit: cover;
    height: 400px;
    width: 900px;
}

.marriage-slide_item {
    padding: .4rem;
}


/* responsive */


@media screen and (max-width: 900px) {

    .marriage-container {
        padding: 2rem;
    }

    .marriage-container_text {
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }

    .marriage-container_title {   
        width: 100%;
    }
    
    .marriage-container_title h1 {
        font-size: 22px;
        width: 100%;
    }
    
    .marriage-container_title p {
        font-size: 16px;
        width: 100%;
    }

    /* responsive button */

    .marriage_button {
    font-size: 22px;
    margin-bottom: 2rem;
    }

    .marriage-slider {
    width: 100% !important;
    object-fit: cover;
    height: 220px;
    }

    .marriage-slide_item {
    padding: .2rem;
    }
}
