.marriage-title_container {
    width: 100%;
    height: 50vh;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.marriage-title_text {
    position: absolute;
    color: var(--white);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.marriage-title_text h1 {
    color: var(--white);
    font-family: "Cinzel", serif;
    color: var(--gold_2);
    font-size: 52px;
}

.marriage-title_text p {
    width: 50%;
}

.marriage-title_container img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: 20% 20%;
    opacity: .33;
}


.marriage-information_container {
    background-color: var(--white);
}

.marriage-information_text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 50%;
    margin-left: 10% ;
    padding: 4rem;
    gap: 4rem;
}

.information_box {
    text-align: center;
    padding: 2rem;
    gap: 1rem;
    border: 6px solid var(--gold_2);
    border-bottom: 6px solid var(--gold);
    border-left: 6px solid var(--gold);
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 12px 2px rgba(0, 0, 0, 0.178);
}

.box-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    background-color: var(--gold_2);
    border-radius: 50%;
    box-shadow: 1px 2px 12px 2px rgba(0, 0, 0, 0.082);
}

.box-icon svg {
    color: var(--black);
    width: auto;
    height: 2.5rem;
}

.casamento_slider {
    width: 100%;
    background-color: var(--black);
}

.casamento-slide_item {
    padding: 2rem .4rem;
}

.about-marriage_container {
    background-color: var(--white);
    padding: 4rem;
}

.about-marriage_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.about-marriage_text h2 {
    font-size: 26px;
    color: var(--black);
    font-style: italic;
    background-color: var(--gold_2);
    padding: .4rem 3.3rem;
}

.about-marriage_text p {
    width: 60%;
    font-size: 18px;
}

.text-span {
    font-weight: 600;
}

/* responsive */

@media screen and (max-width: 900px) {    
    .marriage-title_text {
        width: 80%;
        gap: 1rem;
    }
    
    .marriage-title_text h1 {
        text-align: center;
        font-size: 20px;
    }
    
    .marriage-title_text p {
        width: 100%;
        font-size: 14px;
        text-align: center;
    }

    .marriage-information_text {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 4rem 1.4rem;
        gap: 2rem;
    }
    
    .information_box {
        text-align: center;
        padding: 2rem;
        gap: 1rem;
        height: auto;
        width: 300px;
        font-size: 14px;
    }
    
    .information_box svg {
        font-size: 32px;
    }

    .about-marriage_container {
        background-color: var(--white);
        padding: 4rem 2rem;
    }
    
    .about-marriage_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    
    .about-marriage_text h2 {
        text-align: center;
        font-size: 20px;
        color: var(--black);
        font-style: italic;
        background-color: var(--gold_2);
        padding: 1rem;
    }
    
    .about-marriage_text p {
        width: 100%;
        font-size: 16px;
    }

}

