.navbar_body {
    background-color: var(--white);
    height: 8rem;
    border-bottom: 2px solid var(--gold);
    --bs-navbar-nav-link-padding-x: 1rem;
}

.navbar_logo {
    display: flex;
    align-items: center;
    margin-right: 4rem;
}

.logo_text {
    display: flex;
    flex-direction: column;
    color: var(--black);
}

.logo_text h1 {
    font-size: 16px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.logo_text h2 {
    font-size: 38px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.navbar-collapse {
    z-index: 99;
    background-color: var(--white);
    padding: 2rem;
}

.dropdown-menu {
    background-color: var(--white);
    border-radius: 0;
}

.dropdown-item:hover {
    color: var(--black);
    background-color: var(--gold_2);
}

@media screen and (max-width: 900px) {

    .navbar_logo img{
        width: 60px;
        height: 60px;
    }

    .logo_text h1{
       font-size: 12px;
    }
    .logo_text h2 {
        font-size: 22px;
    }
}