.navbar_body {
    background-color: var(--white);
    height: 8rem;
    border-bottom: 2px solid var(--gold);
    --bs-navbar-nav-link-padding-x: 1rem;
}

.navbar_logo {
    display: flex;
    gap: 6rem;
    width: 50px !important;
    height: 100px !important;
    align-items: end;
    justify-content: end;
    margin-left: 6rem;
    margin-top: 1.2rem;
}

.navbar_logo img{
    width: 70px;
    height: auto;
    margin-bottom: 1.6rem;
}

.logo_text h2 {
    font-size: 28px;
    padding: 0;
    margin: 0;
    font-family: "Cinzel", serif;
    color: var(--black);
    font-size: 38px; 
    font-weight: 400;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(var(--gold_2), var(--gold));
    background-size: 100% 3px;
    background-repeat: no-repeat;
    background-position: 0% 87%;
    transition: background-size .2s, background-position .2s ease-in-out;
}

.logo_text h2:hover {
    background-size: 100% 100%;
    background-position: 0% 87%;
    transition: background-position .2s, background-size .2s ease-in-out;
}

.navbar-collapse {
    z-index: 99;
    background-color: var(--white);
    padding: 2rem;
}

.dropdown-menu {
    background-color: var(--white);
    border-radius: 0;
}

.dropdown-item:hover {
    color: var(--black);
    background-color: var(--gold_2);
}

@media screen and (max-width: 900px) {

    .container {
        justify-content: center !important;
        display: flex;
        flex-direction: row !important;
    }

    .navbar_logo {
        margin: 0;
        width: 220px !important;
        gap: 3.3rem;
        align-items: flex-start;
    }
    
    .navbar_logo img{
        width: 60px;
        height: auto;
    }

    .logo_text h2 {
        margin-top: 3rem;
        font-size: 24px;
        background-size: 100% 2px;
        
    }
}