.history-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
}

.history-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    background-color: var(--black);
}

.history-title h1 {
    font-family: "Cinzel", serif;
    font-size: 82px;
    z-index: 1;
    font-style: italic;
    color: var(--gold_2);
}

.history-title h4 {
    font-size: 18px;
    color: var(--white);
    z-index: 1;
    width: 30%;
    text-align: center;
}

.history-title img {
    position: absolute;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: 10% 60%;
    z-index: 0;
    opacity: .7;
    filter: blur(2px);
}

.history-content {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 4rem 6rem;
}

.history-content_text {
    width: 50%;
    padding: 2rem 0;
}

.history-content_text p {
    width: 80%;
}

.history-content img {
    width: auto;
    height: 320px;
}

.history-content_image, .history-content_center-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-style: italic;
}

.history-content_center-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}

.history-content_center-image img {
    width: 50%;
    height: 400px;
    object-fit: cover;
}

.span-text {
    font-weight: 600;
}


@media screen and (max-width: 900px){
    .history-title h1 {
        font-size: 24px;
    }
    
    .history-title h4 {
        font-size: 16px;
        color: var(--white);
        width: 90%;
    }
    
    .history-content {
        flex-direction: column;
        width: 100%;
        padding: 0rem;
    }
    
    .history-content_text {
        width: 100%;
        padding: 2rem 1rem;
    }
    
    .history-content_text p {
        width: 100%;
    }
    
    .history-content img {
        width: 100%;
        height: auto;
    }
    
    .history-content_image, .history-content_center-image {
        font-size: 12px;
    }
    
    .history-content_center-image img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    
}